.field {
    width: 100%;
    height: 100%;
    &__support {
        font-size: 1.35rem;
        font-family: 'Light';
        color: $colorGreyLight;
        margin-bottom: .5rem;
        @include media(0, 500px) {
            font-size: 1.7rem;
        }
    }
    &__content {
        font-size: 2.25rem;
        font-family: 'Light';
        color: $colorGrey;
    }
}