@font-face {
    font-family: "Light";
    src: url("../fonts/Roboto/Roboto-Light.woff");
}

@font-face {
    font-family: "Regular";
    src: url("../fonts/Roboto/Roboto-Regular.woff");
}

@font-face {
    font-family: "Medium";
    src: url("../fonts/Roboto/Roboto-Medium.woff");
}

@font-face {
    font-family: "Bold";
    src: url("../fonts/Roboto/Roboto-Bold.woff");
}

@font-face {
    font-family: "LightCond";
    src: url("../fonts/RobotoCondensed/RobotoCondensed-Light.woff");
}

@font-face {
    font-family: "RegularCond";
    src: url("../fonts/RobotoCondensed/RobotoCondensed-Regular.woff");
}

@font-face {
    font-family: "BoldCond";
    src: url("../fonts/RobotoCondensed/RobotoCondensed-Bold.woff");
}